.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10, .row11, .row12, .row13, .row14, .rowPayments, .rowUserDataListData, .responsive_page_line_break {
    float: none !important;
}

.grid_8 {
    width: 100%;
}

div.container {
    float: none;
    max-width: 100%;
    padding: 0;
}

div#main-container {
    margin: 0 auto;
}

div.logo {
    background: none;
    text-align: center;
    padding-bottom: 14px;
}

div.sep {
    margin: 0;
    height: 1px;
    background: none;
}

div.inner-container {
    max-width: 350px;
    margin: 0 auto;
    float: none;
}

#creditForm {
    color: #090909;
    text-transform: uppercase;
}

.page_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 40px 0 28px;
}

.grid_3 {
    width: 15%;
}

/* row 8 */
.grid_12 {
    margin-bottom: 10px;
}

.grid_12.row4 {
    padding: 19px 0 9px;
}

.grid_12.row5 {
    padding-bottom: 38px;
}

.grid_12.row7 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}

.grid_12.row8,
.grid_12.row9,
.grid_12.row10,
.grid_12.row12,
.first-row-payment {
    /*margin-bottom: 10px;*/
}

.td_style_fieldName, .td_style_fieldPayments {
    font-size: 15px;
    font-weight: bold;
    width: auto;
    margin-bottom: 5px;
}

.td_style_fieldValue {
    font-size: 14px;
}

.card-details-wrapper {
    text-align: right;
    padding: 0 10px;
}

.card-details-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="number"],
select,
.pci_image {
    border-width: 1px;
    border-radius: 0px;
    height: 30px;
    padding: 0 5px;
    border-color: #b1b1b1;
    box-sizing: border-box;
    font-size: 14px;
}

select {
    width: 80px;
    text-align: right;
    background-color: #ccc;
    border-radius: 0;
}

#Track2CardNo, #personalId {
    width: 100%;
}

.grid_12.row10.td_style_fieldName {
    margin-top: 6px;
}

.cvv-help {
    background: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    margin: -4px 7px 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    padding: 0 !important;
}

.numberOfPayments {
    width: 100%;
}

.hidden_fields,
.grid_12.rowPayments + .grid_12.rowPayments {
    display: none;
}
.row3.td_style_1 {
    text-align: center;
    border-bottom: 2px solid #deb887;
    padding-bottom: 7px;
    font-size: 1em;
    position: relative;
}

.row3.td_style_1:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: 100px;
    width: 20px;
    height: 20px;
    background: url(../images/lock.svg) no-repeat;
    background-size: contain;
}

.grid_12.row4 {
    display: flex;
    justify-content: space-between;
}

.grid_12.row4 .td_style_fieldValue {
    text-align: right;
    font-size: 18px;
}


.td_style_steps_payment {
    padding-top: 5px;
    width: 22%;
}

.form_buttons {
    text-align: center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

.form_buttons input {
    font-weight: bold;
}

.form_buttons .resetBtn {
    background: #e7e7e7;
    height: auto;
    color: #7e7c7c;
    display: none;
}

.form_buttons a {
    width: 49%;
    display: inline-block;
}
.form_buttons #cancelBtn {
    padding: 7px 0;
    color: #000;
    text-transform: uppercase;
    border: 2px solid #000;
    background: none;
    border-radius: 0;
    width: 100%;
    font-size: 18px;
}

#amount {
    width: 35%;
}

#submitBtn {
    font-weight: bold;
    background: #000;
    border: 2px solid #000;
    font-size: 18px;
    padding: 7px 0;
    width: 49%;
    height: auto;
}

.pci-images-wrapper {
    visibility: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.pci-images-wrapper .pci_image {
    border-color: transparent;
    height: auto;
    width: 20%;
}

/*@media (max-width: 590px) {*/
div.page_title {
    display: block;
}

/*@media ( max-width: 500px ) {*/
.card-number,
.id-customer {
    width: 100%;
}

.card-number input[type="text"],
.id-customer input[type="text"] {
    width: 100%;
}

.date-section,
.date-section .td_style_fieldValue {
    width: 100%;
}

div.order-id {
    width: auto;
    display: inline-block;
}

.td-number-of-payment {
    width: 20%;
}

/** validation **/
.invalid_field_place_holder {
    display: none;
}

.td_style_invalidField {
    font-weight: bold;
    color: red;
    text-align: right;
    font-size: 12px;
    width: auto;
    margin-top: 5px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


@media only screen and (max-width: 767px) {
    .cvv-form {
        width: 50% !important;
    }
}


@media only screen and (min-width: 1023px) {
    div.inner-container {
        max-width: 600px;
    }
    .grid_12 {
        position: relative;
    }
    .grid_12:not(.td_style_1) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .td_style_fieldName {
        white-space: nowrap;
        line-height: 27px;
        min-width: 175px;
    }

    .td_style_invalidField {
        position: absolute;
        left: 175px;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        top: 100%;
    }
}